<!-- Wrapper -->
<div id="wrapper">

  <app-navbar></app-navbar>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Log In (T)</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Log In</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a [routerLink]="['/auth/register']">Sign Up!</a></span>
				</div>
					
				<!-- Form -->
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" formControlName="email" id="emailaddress" placeholder="Email Address" />
						<div *ngIf="loginForm.get('email').touched && loginForm.get('email').errors && loginForm.get('email').errors.email" class="error-input-message">
							* Wprowadzony adres e-mail jest niepoprawny!
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" formControlName="password" id="password" placeholder="Password" />
					</div>
					<a *ngIf="errorMessage" href="#" class="forgot-password">Zamponiałeś?</a>
				
		</form>
		
		<div *ngIf="errorMessage" class="notification error closeable">
			<p>{{errorMessage}}</p>
		</div>

			<!-- Button -->
        <!-- <button [disabled]="loginForm.invalid" class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" (click)="onSubmit()"></button> -->
			<button [disabled]="!loginForm.valid || submitted" class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" (click)="onSubmit()">                  
				<span *ngIf="!submitted">Log In <i class="icon-material-outline-arrow-right-alt"></i></span>
				<ng-container *ngIf="submitted">
					<div class="load-spinner text-center">
						<span class="icon-line-awesome-spinner"></span>
					</div>
				</ng-container>
			</button>

				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<app-footer></app-footer>