<!-- Wrapper -->
<div id="wrapper">

<app-navbar></app-navbar>

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a [routerLink]="['/auth/login']">Log In!</a></span>
				</div>

				<!-- Account Type -->
				<div class="account-type">
					<div>
						<input id="user-radio" type="radio" formConrolName="role" name="role" value="USER" class="account-type-radio" checked/>
						<label for="user-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> {{roles.VIEWER}}</label>
					</div>

					<div>
						<input id="pilot-radio" type="radio" formConrolName="role" name="role" value="PILOT" class="account-type-radio"/>
						<label for="pilot-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> {{roles.PILOT}}</label>
					</div>
				</div>
					
				<!-- Form -->
				<form [formGroup]="registerForm" id="register-account-form">
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" formControlName="email" id="emailaddress-register" placeholder="Email Address"/>
						<div *ngIf="registerForm.get('email').touched && registerForm.get('email').errors && registerForm.get('email').errors.email" class="error-input-message">
							* Wprowadzony adres e-mail jest niepoprawny!
						</div>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" formControlName="password" id="password-register" placeholder="Password" />
						<div *ngIf="registerForm.get('password').touched && registerForm.get('password').errors && registerForm.get('password').errors.weak" class="error-input-message">
							* Hasło musi zawierać 6 cyfr!
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" formControlName="confirmPassword" id="password-repeat-register" placeholder="Repeat Password" />
						<div *ngIf="registerForm.get('confirmPassword').touched && registerForm.errors && registerForm.errors.notSame" class="error-input-message">
							* Podane hasła nie są identyczne!
						</div>
					</div>
				</form>

				<div *ngIf="errorMessage" class="notification error closeable">
					<p>{{errorMessage}}</p>
				</div>
				
				<!-- Button -->		
				<button [disabled]="!registerForm.valid || submitted" class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" (click)="onSubmit()">                  
					<span *ngIf="!submitted">Register <i class="icon-material-outline-arrow-right-alt"></i></span>
					<ng-container *ngIf="submitted">
						<div class="load-spinner text-center">
							<span class="icon-line-awesome-spinner"></span>
						</div>
					</ng-container>
				</button>

				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<app-footer></app-footer>