<!-- Dashboard Container -->
<div class="dashboard-container">


  <app-sidebar></app-sidebar>

  <!-- Dashboard Content
	================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Dodaj lot</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>Dodaj lot</li>
          </ul>
        </nav>
      </div>

      <!-- Row -->
      <div *ngIf="form && user" class="row">

        <!-- Dashboard Box -->
        <div class="col-xl-12">
          <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
              <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="content with-padding padding-bottom-10">
                <div class="row">

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Takeoff</h5>
                      <input formControlName="takeoff" type="text" class="with-border">
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Touchdown</h5>
                      <input formControlName="touchdown" type="text" class="with-border">
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Data</h5>
                      <ng-datepicker class="datepicker-input with-border" formControlName="date" [options]="dtOptions"></ng-datepicker>
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Długość lotu</h5>
                      <input formControlName="time" type="text" class="with-border">
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Cena</h5>
                      <div class="input-with-icon">
                        <input formControlName="price" class="with-border" type="text" placeholder="Min">
                        <i class="currency">PL</i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Trudność</h5>
                      <select class="form-control" formControlName="difficulty">
                          <option *ngFor="let d of difficultyOptions" [value]="d">{{d}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5>Samolot</h5>
                      <select class="form-control" formControlName="aircraftId">
                          <option *ngFor="let aircraft of user.aircrafts" [value]="aircraft.id">{{aircraft.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5>Opis</h5>
                      <textarea formControlName="description" cols="30" rows="5" class="with-border"></textarea>
                    </div>
                  </div>

                </div>
              </div>


            </form>
          </div>
        </div>

        <div class="col-xl-12">
          <button class="button ripple-effect big margin-top-30" (click)="onSubmit()"><i class="icon-feather-plus"></i>
            Dodaj podróż</button>
        </div>

      </div>
      <!-- Row / End -->

    </div>
    <!-- Dashboard Container / End -->