<!-- Dashboard Container -->
<div class="dashboard-container">

  <app-sidebar></app-sidebar>

  <!-- Dashboard Content
    ================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

      <!-- Dashboard Headline -->
      <div class="dashboard-headline">
        <h3>Settings</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>Settings</li>
          </ul>
        </nav>
      </div>

      <!-- Row -->
      <div *ngIf="settingsForm && user" class="row">

        <form [formGroup]="settingsForm">

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3 (click)="form()"><i class="icon-material-outline-account-circle"></i> My Account</h3>
              </div>

              <div class="content with-padding padding-bottom-0">

                <div class="row">

                  <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                      <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                      <div class="upload-button"></div>
                      <input class="file-upload" type="file" accept="image/*" />
                    </div>
                  </div>

                  <div class="col">
                    <div class="row">

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>First Name</h5>
                          <input formControlName="name" class="with-border">
                          <div *ngIf="settingsForm.get('name').touched && settingsForm.get('name').errors && settingsForm.get('name').errors.required" class="error-input-message">
                            * Pole wymagane
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>Last Name</h5>
                          <input formControlName="surname" type="text" class="with-border">
                          <div *ngIf="settingsForm.get('surname').touched && settingsForm.get('surname').errors && settingsForm.get('surname').errors.required" class="error-input-message">
                            * Pole wymagane
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <!-- Account Type -->
                        <div class="submit-field">
                          <h5>Account Type</h5>
                          <div class="account-type">
                            <div>
                              <input formControlName="role" value="USER" type="radio" name="role" id="freelancer-radio"
                                class="account-type-radio" checked />
                              <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i>
                                Uzytkownik </label>
                            </div>

                            <div>
                              <input formControlName="role" value="PILOT" type="radio" name="role" id="employer-radio"
                                class="account-type-radio" />
                              <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i>
                                Pilot</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>Email</h5>
                          <input formControlName="email" type="text" class="with-border" value="tom@example.com">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-face"></i> My Profile</h3>
              </div>

              <div class="content with-padding">


                <div class="row">

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5>Nalot</h5>
                      <input formControlName="flightHours" type="text" class="with-border" [value]="sumTotalFlightHours">
                      <div *ngIf="settingsForm.get('flightHours').touched && settingsForm.get('flightHours').errors && settingsForm.get('flightHours').errors.required" class="error-input-message">
                        * Pole wymagane
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5>Data urodzenia</h5>
                      <ng-datepicker class="datepicker-input with-border" formControlName="dateOfBirth" [options]="dtOptions"></ng-datepicker>
                      <div *ngIf="settingsForm.get('dateOfBirth').touched && settingsForm.get('dateOfBirth').errors && settingsForm.get('dateOfBirth').errors.required" class="error-input-message">
                        * Pole wymagane
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5>Napisz coś o sobie</h5>
                      <textarea formControlName="description" cols="30" rows="5" class="with-border"></textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- License Box -->
          <div class="col-xl-12">
            <div class="dashboard-box">

              <!-- Headline -->
              <div class="headline flex">
                <h3><i class="icon-material-outline-book"></i> Licencje</h3>
                <button (click)="addItemToLicense()" class="button gray ripple-effect-dark"><span class="icon-feather-plus"></span>Dodaj
                  zdobytą licencje</button>
              </div>

              <div class="content with-padding">

                <div class="row" formArrayName="licenses" *ngFor="let item of licenses; let i = index;">

                  <ng-container [formGroupName]="i">

                    <div class="col-xl-1">
                      <div class="submit-field">
                        <h5>&nbsp;</h5>
                        <button (click)="removeLicense(i)" class="button gray ripple-effect-dark"><span class="icon-feather-trash-2"></span></button>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5>Typ licencji</h5>
                        <input formControlName="name" type="text" class="with-border" value="Smith">
                      </div>
                    </div>

                    <div class="col-xl-5">
                      <div class="submit-field">
                        <h5>Data zdobycia</h5>
                        <ng-datepicker class="datepicker-input with-border" formControlName="date" [options]="dtOptions"></ng-datepicker>
                      </div>
                    </div>

                  </ng-container>
                </div>
                <div *ngIf="!licenses.length" class="no-content">Nie masz zapisanych zdobytych licencji...</div>
              </div>
            </div>
          </div>

          <!-- Aircrafts Box -->
          <div class="col-xl-12">
            <div class="dashboard-box">

              <!-- Headline -->
              <div class="headline flex">
                <h3><i class="icon-line-awesome-plane"></i> Zdobyte uprawnienia na samoloty</h3>
                <button (click)="addItemToLAircrafts()" class="button gray ripple-effect-dark"><span class="icon-feather-plus"></span>Dodaj
                  samolot</button>
              </div>

              <div class="content with-padding">

                <div class="row" formArrayName="aircrafts" *ngFor="let item of aircrafts; let i = index;">

                  <ng-container [formGroupName]="i">

                    <div class="col-xl-1">
                      <div class="submit-field">
                        <h5>&nbsp;</h5>
                        <button (click)="removeAircraft(i)" class="button gray ripple-effect-dark"><span class="icon-feather-trash-2"></span></button>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="submit-field">
                        <h5>Typ samolotu</h5>
                        <input formControlName="name" type="text" class="with-border">
                      </div>
                    </div>

                    <div class="col-xl-5">
                      <div class="submit-field">
                        <h5>Nalot</h5>
                        <input formControlName="totalHours" type="number" class="with-border">
                      </div>
                    </div>

                  </ng-container>

                </div>
                <div *ngIf="!aircrafts.length" class="no-content">Nie dodałeś jeszcze zadnego samolotu...</div>
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="col-xl-12">
            <button [disabled]="!settingsForm.valid || submitted" class="button button-sliding-icon ripple-effect margin-top-10" type="submit" (click)="onSubmit()">                  
              <span *ngIf="!submitted">Zapisz zmiany w profilu <i class="icon-material-outline-arrow-right-alt"></i></span>
              <ng-container *ngIf="submitted">
                <div class="load-spinner text-center">
                  <span class="icon-line-awesome-spinner"></span>
                </div>
              </ng-container>
            </button>

          </div>

        </form>

      </div>
      <!-- Row / End -->

      <!-- Footer -->
      <div class="dashboard-footer-spacer"></div>
      <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
          © 2018 <strong>Hireo</strong>. All Rights Reserved.
        </div>
        <ul class="footer-social-links">
          <li>
            <a href="#" title="Facebook" data-tippy-placement="top">
              <i class="icon-brand-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" title="Twitter" data-tippy-placement="top">
              <i class="icon-brand-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" title="Google Plus" data-tippy-placement="top">
              <i class="icon-brand-google-plus-g"></i>
            </a>
          </li>
          <li>
            <a href="#" title="LinkedIn" data-tippy-placement="top">
              <i class="icon-brand-linkedin-in"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- Footer / End -->

    </div>
  </div>
  <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->