<!-- Intro Banner
   ================================================== -->
<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner" data-background-image="/assets/images/home-background.jpg">
  <div class="container">

    <!-- Intro Headline -->
    <div class="row">
      <div class="col-md-12">
        <div class="banner-headline">
          <h3>
            <strong>Hire experts or be hired for any job, any time.</strong>
            <br>
            <span>Thousands of small businesses use <strong class="color">Hireo</strong> to turn their ideas into
              reality.</span>
          </h3>
        </div>
      </div>
    </div>

    <!-- Search Bar -->
    <form [formGroup]="searchForm">
      
      <div class="row">
        <div class="col-md-12">
          <div class="intro-banner-search-form margin-top-95">

              <!-- Search Field -->
              <div class="intro-search-field with-autocomplete">
                <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
                <div class="input-with-icon">
                  <input formControlName="takeoff" id="autocomplete-input" type="text" placeholder="Wybierz lokalizację lotu"
                  autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                  <i class="icon-material-outline-location-on"></i>
                </div>
              </div>

              <!-- Search Field -->
              <div class="intro-search-field">
                <label for="intro-keywords" class="field-title ripple-effect">What job you want?</label>
                <div class="input-with-icon">
                  <ng-datepicker 
                    formControlName="date" 
                    id="intro-keywords" 
                    class="datepicker-input"
                    (click)="selectedDay()" 
                    [options]="options">
                  </ng-datepicker>
                  <i class="icon-feather-calendar"></i>
                </div>
              </div>


              <!-- Button -->
              <div class="intro-search-button">
                <button class="button ripple-effect" [disabled]="!searchForm.valid" (click)="onSubmit()">
        
                    <span *ngIf="!submitted">Znajdź</span>
              
                    <div *ngIf="submitted" class="load-spinner text-center">
                      <i class="icon-line-awesome-spinner"></i>
                    </div>
                  
                </button>
              </div>

          </div>
        </div>
      </div>
    </form>

    <!-- Stats -->
    <div class="row">
      <div class="col-md-12">
        <ul class="intro-stats margin-top-45 hide-under-992px">
          <li>
            <strong class="counter">1,586</strong>
            <span>Jobs Posted</span>
          </li>
          <li>
            <strong class="counter">3,543</strong>
            <span>Tasks Posted</span>
          </li>
          <li>
            <strong class="counter">1,232</strong>
            <span>Freelancers</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="background-image-container"></div>
</div>


