.intro-search-field {
    ng-datepicker {
        width: 100%;
        position: relative;
        z-index: 100;
        .ngx-datepicker-input {
            border: none;
            width: inherit;
        }
    }
}