@import "./variables";
/* Add here all your CSS customizations */

.notifier__container{
    position: absolute;
}
notifier-notification {
  width: 100%;
  text-align: center;
}

.error-input-message {
  font-size: 15px;
  color: #de5959;
  margin-top: -16px;
  margin-bottom: 16px;
}

button[disabled] {
    opacity: .4;
    cursor: not-allowed;
}

input[disabled] {
    background: #f9f9f9;
    cursor: not-allowed;
}

.load-spinner {
    span {
        -webkit-animation: spin 4s infinite linear;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        &.no-animate {
            animation: none
        }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    p {
        font-family: Montserrat;
        font-size: 11px;
        letter-spacing: 0.2px;
        margin-top: 10px;
        color: #3f536e;
    }
    &.error {
        color: $error-color;
        p {
            color: $error-color;
        }
    }
}

.ngx-datepicker-calendar-container{
    z-index: 1000;
}

.ngx-datepicker-input {
    width: 100% !important;
}